#
# Elphel devices
#

menu "Elphel devices"
config ELPHEL393
	tristate "Support Elphel 10393 board voltage regulator"
# add more 
#	depends on I2C && SYSFS
	help
	  Say Y here if you have a Elphel board 10393.
endmenu
